body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#app {
    max-width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#tasks-summary {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input, textarea, select, button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%; /* Hacer el botón de ancho completo */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #eee;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
}

li span {
    display: block;
    margin-bottom: 10px;
}

li button {
    margin-top: 5px; /* Añadir espacio entre los botones */
}

#custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 80%; /* Hacer el cuadro de diálogo más ancho en dispositivos móviles */
}
